<div class="layout-container">

  <header class="region-header">
    <div class="header-inner">
      <div class="header-left">
        {{ page.header }}
      </div>

      <div class="header-right">
        {{ page.primary_menu }}
        {{ page.secondary_menu }}
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="main-container">
      {{ page.content }}
    </div>
  </main>

</div>